name: Publish Docs Only

on:
  push:
    branches:
      - main
      - release
  workflow_dispatch:

concurrency: release

jobs:
  # CI and Build jobs are not needed for simple documentation generation,
  # so they are commented out to simplify the workflow structure.
  # ci:
  #   name: Continuous Integration
  #   ... (rest of CI config)

  # build:
  #   name: Build
  #   ... (rest of Build config)

  # The release job, including semantic release and package steps, is
  # commented out as it's not required for documentation publishing.
  # release:
  #   name: Release
  #   ... (rest of Release config)

  generate-publish-docs:
    name: Publish docs
    # NOTE: The 'needs: release' dependency is removed here since the 'release' job is commented out.
    # This job will now run immediately on push/dispatch.
    if: github.ref_name == 'main'
    permissions:
      id-token: write
      contents: read # Required for actions/checkout
      pages: write # Required for deployment
    uses: ./.github/workflows/docs.yml
    secrets:
      BOT_ID: ${{ secrets.BOT_ID }}
      BOT_SK: ${{ secrets.BOT_SK }}
